---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contactenos</Fragment>
      <Fragment slot="desc">
        Empecemos a trabajar juntos. Cuéntanos sobre tu proyecto y te ayudaremos a hacerlo realidad.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">
          Contacto Directo
        </h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Tienes consultas, quieres saber más de nuestros servicios o simplemente quieres saludar, no dudes en contactarnos.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>
              Ñuñoa, Santiago, Chile 
            </span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@summitsoftware.cl"
              >contacto@summitsoftware.cl</a
            >
          </div>
          <!-- <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+56991233278">+56 9 9123 32 78</a
            >
          </div> -->
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
