---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PriceComponent from "@components/price.astro";
import { getCollection } from "astro:content";
import { getActive } from "@utils/all";

// Filter active menbers (entries with draft: false, published before current date and expiration after current date)
const now = new Date;
const collection = await getCollection("prices", ({ data }) => getActive(data, now));
const publishedPrices = collection.map(({data}) => data);
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precios</Fragment>
      <Fragment slot="desc">
        <span>Evita contratar personal para que desarrollen tus aplicaciones...</span>
        <span>Deja que nosotros nos encarguemos de eso, y tú enfócate en tu negocio.</span>
      </Fragment>
    </Sectionhead>

    <div class="flex flex-wrap justify-evenly gap-5 mx-auto max-w-screen-lg mt-12">
      {publishedPrices.map((item) => (
        <PriceComponent plan={item} />
      ))}
    </div>
  </Container>
</Layout>
