---
import Bar from "@components/ui/icons/bar.astro";
import Darkmode from "./darkmode.astro";
import Logo from "../ui/icons/logo.astro";
import Menu from "./menu.astro";
import Navigation from "./navigation.astro";

const menuitems = [
  {
    title: "Features",
    path: "#",
    options: [
      { title: "Action", path: "#" },
      { title: "Another action", path: "#" },
      { title: "Dropdown Submenu", path: "#" },
    ],
    hidden: true,
  },
  {
    title: "Servicios",
    path: "/services",
    hidden: true,
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Nosotros",
    path: "/about",
  },
  {
    title: "Portafolio",
    path: "/portfolio",
    disabled: true,
  },
    {
      title: "Precios",
      path: "/pricing",
    },
  {
    title: "Contacto",
    path: "/contact",
  },
];
---

<header x-data="{open: false}" class="max-w-screen-sm lg:max-w-screen-xl w-full mx-auto p-5 relative flex flex-wrap gap-x-3 items-center justify-between">
  <div id="astronav-menu" class="hidden"></div>
  <a href="/" class="mr-auto lg:mr-0 flex gap-1">
    <Logo bar class="h-10" />
    <Bar class="h-10" />
    <span class="text-4xl font-sans">Codefy</span>
  </a>
  <Menu open="open" class="w-4 aspect-square text-primary cursor-pointer lg:hidden" @click="open = !open"/>
  <Navigation class="hidden lg:block" />
  <Darkmode class="lg:order-last" />
  <Navigation
    class="w-full lg:hidden"
    style="display: none;"
    :style="{'--max-height': `${$refs.content.scrollHeight}px`}"
    x-ref="content"
    x-show="open"
    x-transition:enter="transition ease-out origin-center duration-200"
    x-transition:enter-start="opacity-0 transform scale-90"
    x-transition:enter-end="opacity-100 transform scale-100"
    x-transition:leave="transition origin-center ease-in duration-100"
    x-transition:leave-start="opacity-100 transform scale-100"
    x-transition:leave-end="opacity-0 transform scale-90"
  />
    <!-- x-ref="content"
    :style="{'--max-height': `${$refs.content.scrollHeight}px`}" -->
  <!-- <nav
    class="w-full lg:w-fit max-h-0 lg:max-h-fit overflow-hidden transition-[max-height] order-last"
    x-ref="content"
    :style="{'--max-height': `${$refs.content.scrollHeight}px`}"
  >
  </nav> -->
</header>
