---
import Link from "./ui/link.astro";
const { maxw = 6 } = Astro.props;
---

<div class={`bg-black dark:bg-white p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-${maxw}xl rounded-lg flex flex-col items-center text-center`}>
  <h2 class="text-white dark:text-black text-3xl md:text-4xl tracking-tight">
    Empecemos a trabajar juntos
  </h2>
  <p class="text-slate-400 dark:text-slate-600 mt-4 text-lg md:text-xl">
    Somos un equipo de profesionales que te ayudará a llevar tu idea a la realidad.
  </p>
  <div class="flex mt-5">
    <Link href="/contact" style="inverted">
      Contactanos
    </Link>
  </div>
</div>
