---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Solo trabajamos con Frameworks",
    description:
      "Nuestros desarrollos se basan en los mejores frameworks del mercado esto nos permite ofrecer un producto de calidad y con un rendimiento excelente.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Tu app en todas partes",
    description:
      "Desarrollamos aplicaciones web multiplataforma, con un diseño moderno y atractivo, que se adapta a cualquier dispositivo",
    icon: "bx:bxs-devices",
  },
  {
    title: "Escalabilidad garantizada",
    description:
      "Ningun proyecto es pequeño para nosotros, por eso nos aseguramos de que tu proyecto pueda escalar a cualquier nivel.",
    icon: "bx:bxs-data",
  },
  {
    title: "Actualizacion de tu proyecto",
    description:
      "Tienes un proyecto que ya esta en marcha y quieres actualizarlo? no hay problema, nosotros te ayudamos a actualizarlo y a adaptarlo a las nuevas tecnologias.",
    icon: "mdi:build",
  },
  {
    title: "Testeo de tu proyecto",
    description:
      "Nuestro equipo de desarrollo se encarga de realizar pruebas automatizadas de tu proyecto para asegurarnos de que todo funcione correctamente.",
    icon: "file-icons:test-generic",
  },
  {
    title: "Metodologias agiles",
    description:
      "Usamos metodologias agiles para asegurarnos de que tu proyecto se desarrolle de la mejor manera posible y estes enterado de todo el proceso.",
    icon: "mdi:reiterate",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para tu proyecto
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Hacer aplicaciones no es solo programar, es crear una experiencia que el usuario pueda disfrutar.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
