---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">
    Trabajamos con las mejores tecnologías
  </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:laravel" />
    <Icon class="h-8 md:h-16" name="simple-icons:openai" />
    <Icon class="h-8 md:h-12" name="simple-icons:firebase" />
    <Icon class="h-8 md:h-12" name="simple-icons:vuejs" />
    <Icon class="h-8 md:h-12" name="simple-icons:nodejs" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
    <Icon class="h-8 md:h-12" name="simple-icons:quasar" />
  </div>
</div>
