---
const {class: className, ...props} = Astro.props;
---

<svg
  fill="currentColor"
  class:list={[className]}
  viewBox="0 0 20 20"
  xmlns="http://www.w3.org/2000/svg"
  {...props}
>
  <title>Show Menu</title>
  <path fill-rule="evenodd" d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z" />
</svg>
