---
const props = Astro.props;
---

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" {...props}>
  <title>Summit Software</title>
  <circle cx="14" cy="14" r="13" fill="#fff"/>
  <path fill="#242e3c" d="M4.663 21.464c2.196 2.726 5.557 4.475 9.322 4.475 6.6 0 11.97-5.37 11.97-11.97s-5.37-11.97-11.97-11.97-11.97 5.37-11.97 11.97a11.9 11.9 0 0 0 2.29 7.029l.357.466zm9.322 3.509c-3.411 0-6.463-1.56-8.484-4.004l6.42-6.42 2.765 2.766a.482.482 0 0 0 .683 0 .482.482 0 0 0 0-.682l-1.13-1.131 4.385-4.386 5.925 5.925c-1.333 4.576-5.563 7.932-10.564 7.932z"/>
</svg>
