---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";
import '../assets/base.css';

const canonical = new URL(Astro.url.pathname, Astro.site).toString().toLowerCase();

const {
  title,
  description,
  image,
  imageAlt,
} = Astro.props;

const makedTitle = title || "Materializa tus ideas en software";
const makedDescription = (description || "Codefy es una empresa de desarrollo de software por subscripción.").substring(0, 160);
const makedImageAlt = imageAlt || "Codefy";
const makedImage = new URL( image || "/logo/logo-color.svg", Astro.site).toString();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="/js/dark-mode.js"></script>
    <SEO
      title={makedTitle}
      description={makedDescription}
      canonical={canonical}
      twitter={{
        creator: "@mihrbi",
        site: "@codefy",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonical,
          type: "website",
          title: makedTitle + " - Codefy",
          image: makedImage,
        },
        image: {
          alt: makedImageAlt,
        },
      }}
    />
  </head>
  <body class="grid grid-rows-[auto_1fr_auto] gap-5 min-h-screen min-w-[320px] bg-primary text-primary transition-[background-color]">
    <Navbar />
    <slot />
    <Footer />
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
    <script>
      declare global {
        interface Window {
          netlifyIdentity: any;
        }
      }

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: any) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
