---
import { sizes, Size, Style, getStyles } from './buttons.shared';
interface Props {
  href: string;
  size?: Size;
  block?: boolean;
  style?: Style;
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;
---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
    block && "w-full",
    sizes[size],
    getStyles(style),
    className,
  ]}
>
  <slot />
</a>
